<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CitizenFX.Core.Client" version="1.0.6370" targetFramework="net452" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net452" />
  <package id="ScaleformUI" version="4.8.0" targetFramework="net452" />
</packages>