# This server was set up by the vMenu txAdmin recipe (vMenu v__VMENU_VERSION__).
# Please read the FiveM documentation:
#   https://aka.cfx.re/server-commands
#   https://docs.fivem.net/docs/server-manual/setting-up-a-server/
# And the vMenu documentation:
#   https://docs.vespura.com/vmenu/legacy

## You SHOULD edit the following:
sv_hostname "{{serverName}} built with {{recipeName}}!"
sets sv_projectName "[{{recipeName}}] {{serverName}}"
sets sv_projectDesc "{{recipeDescription}}"
sets tags "default, deployer, vMenu"
sets locale "root-AQ"

## You CAN edit the following:
sv_enforceGameBuild 3751 #mp2025_02 - A Safehouse in the Hills
sv_licenseKey "{{svLicense}}"
sv_maxclients {{maxClients}}
{{serverEndpoints}}
set steam_webApiKey "none"
set resources_useSystemChat true

## These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure basic-gamemode
ensure hardcap

## Add system admins
## Everybody in group.admin also gets vMenu's staff permissions, see vMenu/config/permissions.cfg.
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
{{addPrincipalsMaster}}

## vMenu
## permissions.cfg holds every vMenu setting and decides who may use what. Edit it to your liking.
## Keep this line above "ensure vMenu".
exec @vMenu/config/permissions.cfg
ensure vMenu
