####################################################################################################
# This is the default permissions file used by vMenu.                                              #
# Example groups include: moderator, admin                                                         #
# You can add your own groups or use the example groups and add players to those groups            #
# The add permissions to "builtin.everyone" to allow anyone to use those features.                 #
# If you add permissions like this: "vMenu.onlinePlayers.*" that means that ALL options in the     #
# "Online Players" menu will be available, regardless of any other permissions you set after that. #
####################################################################################################


######## Groups inheritance setup ########
# Admin group gets all permissions of the moderator group.
add_principal group.admin group.moderator


######## Add players to groups ########
# Admin group players:
add_principal identifier.steam:110000105959047 group.admin


# Moderator group players:
add_principal identifier.license:4510587c13e0b645eb8d24bc104601792277ab98 group.moderator


######## Menu Access ########
# Menu Access (default: everyone has access to all menus, except the "time" and "weather" menus, 
# those are restricted to the "moderator" group):
add_ace builtin.everyone "vMenu.menus.onlinePlayers" allow
add_ace builtin.everyone "vMenu.menus.playerOptions" allow
add_ace builtin.everyone "vMenu.menus.vehicleOptions" allow
add_ace builtin.everyone "vMenu.menus.vehicleSpawner" allow
add_ace builtin.everyone "vMenu.menus.playerSkin" allow
add_ace builtin.everyone "vMenu.menus.weapons" allow
add_ace builtin.everyone "vMenu.menus.misc" allow
add_ace builtin.everyone "vMenu.menus.voicechat" allow

# Menu access for the moderator (and admin) group:
add_ace group.moderator "vMenu.menus.time" allow
add_ace group.moderator "vMenu.menus.weather" allow


######## Permissions ########
# Admin group permissions
## Allow "everything" for admins.
## Note: this grants permissions to ALL options. Only add TRUSTED players to the admin group.
add_ace group.admin "vMenu.everything" allow


# Moderator group permissions
## Allow "kick" and "summon" permissions for moderators.
add_ace group.moderator "vMenu.onlinePlayers.kick" allow
add_ace group.moderator "vMenu.onlinePlayers.summon" allow
## Also allow full time and weather control.
add_ace group.moderator "vMenu.time.*" allow
add_ace group.moderator "vMenu.weather.*" allow


# Everyone's permissions
## Allow "teleport, spectate and set waypoint" from the "Online Players" menu.
add_ace builtin.everyone "vMenu.onlinePlayers.teleport" allow
add_ace builtin.everyone "vMenu.onlinePlayers.spectate" allow
add_ace builtin.everyone "vMenu.onlinePlayers.waypoint" allow
## Allow everything from the "playerOptions, vehicleOptions, playerSkin, savedVehicles, 
## weapons, misc & voicechat" menus.
add_ace builtin.everyone "vMenu.playerOptions.*" allow
add_ace builtin.everyone "vMenu.vehicleOptions.*" allow
add_ace builtin.everyone "vMenu.playerSkin.*" allow
add_ace builtin.everyone "vMenu.savedVehicles.*" allow
add_ace builtin.everyone "vMenu.weapons.*" allow
add_ace builtin.everyone "vMenu.misc.*" allow
add_ace builtin.everyone "vMenu.voicechat.*" allow
## Allow the following vehicle spawner options:
## All categories except "trains" and "military". All other options are allowed.
add_ace builtin.everyone "vMenu.vehicleSpawner.spawninside" allow
add_ace builtin.everyone "vMenu.vehicleSpawner.replace" allow
add_ace builtin.everyone "vMenu.vehicleSpawner.spawnbyname" allow
add_ace builtin.everyone "vMenu.vehicleSpawner.category.compacts" allow
add_ace builtin.everyone "vMenu.vehicleSpawner.category.sedans" allow
add_ace builtin.everyone "vMenu.vehicleSpawner.category.suv" allow
add_ace builtin.everyone "vMenu.vehicleSpawner.category.coupes" allow
add_ace builtin.everyone "vMenu.vehicleSpawner.category.muscle" allow
add_ace builtin.everyone "vMenu.vehicleSpawner.category.sportsclassic" allow
add_ace builtin.everyone "vMenu.vehicleSpawner.category.sports" allow
add_ace builtin.everyone "vMenu.vehicleSpawner.category.super" allow
add_ace builtin.everyone "vMenu.vehicleSpawner.category.motorcycles" allow
add_ace builtin.everyone "vMenu.vehicleSpawner.category.offroad" allow
add_ace builtin.everyone "vMenu.vehicleSpawner.category.industrial" allow
add_ace builtin.everyone "vMenu.vehicleSpawner.category.utility" allow
add_ace builtin.everyone "vMenu.vehicleSpawner.category.vans" allow
add_ace builtin.everyone "vMenu.vehicleSpawner.category.cycles" allow
add_ace builtin.everyone "vMenu.vehicleSpawner.category.boats" allow
add_ace builtin.everyone "vMenu.vehicleSpawner.category.helicopters" allow
add_ace builtin.everyone "vMenu.vehicleSpawner.category.planes" allow
add_ace builtin.everyone "vMenu.vehicleSpawner.category.service" allow
add_ace builtin.everyone "vMenu.vehicleSpawner.category.emergency" allow
add_ace builtin.everyone "vMenu.vehicleSpawner.category.commercial" allow
### For these permissions below, change "deny" to "allow" if you want to give 
### everyone access to those categories as well.
add_ace builtin.everyone "vMenu.vehicleSpawner.category.military" deny
add_ace builtin.everyone "vMenu.vehicleSpawner.category.trains" deny




#                   Done :) You're all set now, congratulations!
